{% extends 'base.html.twig' %}

{% block title %}Alcools Symfony{%  endblock %}
{% block body %}
    <div class="text-white rounded bg-dark">
        {% if isIngredient %}
        <ul class="list-group">
            <li class="list-group-item active">Name : {{ Name }}</li>
            <li class="list-group-item">Type : {{ Type }}</li>
            <li class="list-group-item">{{ isAlcoholic }}</li>
            {% if ABV %}
                <li class="list-group-item">
                    ABV : {{ ABV }}
                </li>
            {% endif %}
            <li class="list-group-item"><button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Read Description
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {{ Description }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <p class="lead mb-0"><a href="../ingredient/{{ Name }}" class="font-weight-bold">Cocktails using this ingredient</a></p>
            </li>
        </ul>
        {% else %}
        <p>This ingredient was not found, please learn how to write</p>
        {% endif %}
    </div>
{%  endblock %}